@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --black: #1b1b1b;
    --green: #2C5944;
    --orange: #F26E22;
    --soft-pink: #F2CCB6;
    --soft-yellow: #F2DD72;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: white;
    font-family: Montserrat;
}

*:focus{
    outline: none;
}
a{
    text-decoration: none;
    text-shadow: var(--black) 1px 1px 10px;
}
body>canvas{
    position: fixed;
    right: 0px;
}
body{
    background-color: var(--green);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 25px;
}

h1{
    text-align: center;
}
.content{
    max-width: 1240px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

button{
    padding: 10px;
    border: none;
    width:fit-content;
    background-color: var(--orange);
    border-radius: 10px;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}
button:hover{
    transform: scale(1.1);
}


input{
    background: none;
    border: 2px solid var(--orange);
    padding: 5px;
    border-radius: 5px;
    width: 100%;
    transition: all 0.5s ease-in-out;
}
textarea{
    background: none;
    border: 2px solid var(--orange);
    padding: 5px;
    border-radius: 5px;
    width: 100%;
    max-width: 100%;
    transition: border-color 0.5s ease-in-out;
}
textarea:focus{
    border-color: var(--soft-yellow);
}
input:focus{
    border-color: var(--soft-yellow);
}

.task{
    transform-origin: top center;
    transition: all 0.5s ease-in-out;
    max-height: 500px;
    overflow: hidden;
    height: auto;
}


.hidden{
    max-height: 0 !important;
}


.task1{
    text-align: center;
    max-height: 20px;
}


/* Calendar */
.task2{
    max-height: 300px;
}
.calendar-container{
    width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.calendar-months{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
.calendar-arrow{
    width: 20px;
    height: 20px;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}
.calendar-arrow:hover{
    transform: scale(1.2);
}

.calendar{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(5, 1fr);
    border: 2px var(--orange) solid;
    width: fit-content;
    padding: 5px;
    border-radius: 5px;
    gap: 2px;
}

.day{
    border: 2px var(--orange) solid;
    padding: 5px;
    height: 35px;
    width: 35px;
    text-align: center;
    border-radius: 5px;
    grid-column: 5/5;
    grid-row: 3/3;
    transition: all 0.3s;
    background-color: var(--green);
}
.day:hover{
    background-color: var(--soft-pink);
    border-color: var(--soft-pink);
    cursor: pointer;
}
.day:hover p{

    color: var(--green);
}
.weekend{
    background-color: #F26E22;
}
.weekDays {
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding: 7px;
}

/* Task 3 */
.task3{
    max-height: 35px;
}

/* Task 4 */
.notDisplay{
    display: none;
}

/* Task 5 */
.task5>span{
    display: flex;
    gap: 10px
}
.task5>span>button{
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    font-weight: bold;
}
.task5>span>button:hover{
    background-color: var(--soft-pink);
    transform: none;
    color: var(--green);
}
.task5>ol{
    margin-left: 20px
}

/* Task 6 */
.task6-img{
    width: 250px;
    height: 250px;
    background: url("assets/pic0.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

/* Task 7 */
.task7{
    max-height: 100px;
}
.task7>p{
    display: flex;
    align-items: center;
    cursor: pointer;
}
.task7>p>img{
    height: 12px;
    transition: all 0.3s;
}
.task7-list{
    padding-left: 20px;
    transition: all 0.5s ease-in-out;
    max-height: 70px;
    overflow: hidden;
    height: auto;
}
.task7-list>li{
    cursor: pointer;
}
.task7-icon_rotate{
    transform: rotate(90deg);
}

/* Task 8 */
.task8-container{
    position: relative;
    background-color: #F2CCB6;
    width: 500px;
    height: 500px;
}
#task8-img{
    position: absolute;
    background: url("/assets/slider3.jpeg");
    width: 100%;
    height: 100%;
    opacity: 1;
}


/* Task 9 */
.task9{
    max-height: 750px;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.character{
    position: relative;
}
.character>img{
    width: 250px;
}
.character .eye{
    width: 20px;
    height: 20px;
    background-color: var(--black);
    border-radius: 50%;
    position: absolute;
    top: 125px;
    transition: all 0.3s ease-in-out;
}
.eye1{
    left: 63px;
}
.eye2{
    right: 63px;
}
.task9>form{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}
.checkboxes-container{
    grid-column: 1/ span 2;
}
.task9>form .checkboxes{
    display: flex;
    flex-wrap: wrap;
    gap: 0 25px;
    width: 100%;
    grid-column: 1/2;
}
.checkbox {
    display: block;
    margin-bottom: 15px;
  }

.checkbox input {
padding: 0;
height: initial;
width: initial;
margin-bottom: 0;
display: none;
cursor: pointer;
}

.checkbox label {
position: relative;
cursor: pointer;
}

.checkbox label:before {
content:'';
background-color: transparent;
border: 2px solid var(--orange);
border-radius: 5px;
box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
padding: 10px;
display: inline-block;
position: relative;
vertical-align: middle;
cursor: pointer;
margin-right: 5px;
}

.checkbox input:checked + label:after {
content: '';
display: block;
position: absolute;
top: 2px;
left: 9px;
width: 6px;
height: 14px;
border: 2px solid var(--orange);
border-width: 0 2px 2px 0;
transform: rotate(45deg);
}
.task9>form>button:hover{
    transform: none;
    background-color: var(--soft-pink);
    color: var(--green);
}

.task9 .textarea{
    grid-column: 1/ span 2;
    width: 100%;
}

